:root{
    --bgclr:#F5F5F5;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800');

body{
    font-family: 'Raleway', sans-serif;
}

/* Header top css */
.contact-details li {
    font-size: 13px;
    padding: 12px 0;
    border-right: 1px solid #E2E6E7;
}

.contact-details li a {
    color: #999;
    font-weight: 500;
    line-height: 20px;
    font-family: 'Raleway';
    padding-right: 10px;
}

.contact-details li i {
    color: #999;
    padding: 0 10px;
}

.contact-details li:first-child {
    border-left: 1px solid #E2E6E7;
}

.header-top-area {
    background: #F5F5F5;
}

.social-icon li a i {
    color: #999;
    transition:  .2s;
}

.social-icon li {
    padding: 10px 12px;
    border-right: 1px solid #E2E6E7;
}

.social-icon li:first-child {
    border-left: 1px solid #E2E6E7;
}

.social-icon li:hover a {
    color: #333;
}

.social-icon >li:hover a i {
    color: #000;
}

form.search-form {
    display:  flex;
    position: absolute;
    right: 0;
    top: 50px;
    background: #F5F5F5;
    padding: 15px;
    z-index: 9999;
}

.social-icon li.icon-search {
    position: relative;
}
.search-bar{
    display: none;
}
.search-form input[type="text"] {
    padding: 10px 0 10px 15px;
    width: 105px;
    border-color: transparent;
}
.search-form input:focus {
    border-color: transparent;
    outline:  0;
}

.search-btn {
    border: 1px solid #e2e5e6;
    background: transparent;
    padding: 10px 15px;
    margin-left: 12px;
    color: #999;
    cursor:  pointer;
    font-size: 13px;
}
.search-btn:hover{
    color: #333;
}



/* Header Bootom # Menu css */

.navbar-brand h1 {
    color: #F5BA0B;
    font-weight: 900;
    font-size: 37px;
    text-transform: uppercase;
}

.main-menu li a {
    font-size: 14px;
    color: #444;
    padding:  12px 0 12px 26px;
    text-transform:  uppercase;
    text-decoration: none;
    font-weight: 400;
    transition: .2s;
}

.main-menu li:hover >a {
    color: #F5BA0B;
}

.main-menu li {
    position:  relative;
}

.submenu {
    position:  absolute;
    width:  200px;
    top: 130%;
    left:  0;
    border: 1px solid #E2E6E7;
    opacity:  0;
    display:  none;
    z-index:  999;
    background: #fff;
}

.submenu li a {
    text-transform:  capitalize;
}

.submenu li {
    padding:  10px 0;
    border-bottom: 1px solid #E2E6E7;
}

.submenu  li:last-child {
    border-color: transparent;
}

.main-menu li:hover .submenu {
    display:  block;
    opacity:  1;
}

/* Mobile Menu */

.slicknav_menu{
    display: none;
}

/*============ 
Slider Area Css
==============*/
.slider-bg-1{background: url(../img/slider/image_01.jpg);}
.slider-bg-2{background: url(../img/slider/image_02.jpg);}
.slider-bg-3{background: url(../img/slider/image_03.jpg);}




.single-slider {
    background-position: center;
    background-color: #ddd;
    background-size: cover;
    padding: 150px 0;
    max-height: 600px;
}

.slider-content {
    background: rgba(0,0,0, .6);
    color: #fff;
}

.slider-title h2 {
    text-transform:  uppercase;
    font-weight: 700;
    line-height: 1.7;
    color:#fff;
}

.slider-title {
    padding:  20px;
    border-bottom: 1px solid #F4BC16;
    background: rgba(0,0,0, .6);
}

.slider-text {
    padding: 15px;
}

.round-btn {
    color: #fff;
    border: 2px solid transparent;
    padding: 12px 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 20px;
    margin: 20px 0;
    display:  inline-block;
    transition: .2s;
    background: #F4BC16;
    text-decoration: none;
}
.round-btn.slider-btn{
    background:transparent;
    border: 1px solid #fff;
    
}
.round-btn.slider-btn:hover{
    background:#F4BC16;
    border-color: transparent;
    color: #fff;
}

.round-btn:hover {
    background: #fff;
    color: #000;
    border-color: #F4BC16;
}

.home-solider .owl-nav div {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 35px;
    height: 60px;
    width: 30px;
    background: rgba(0,0,0, .8);
    text-align:  center;
    line-height: 60px;
    transform: translateY(-50%);
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.home-solider .owl-nav div.owl-next {
    left:  auto;
    right:  0;
}

.home-solider:hover  .owl-nav div {
    visibility: visible;
    opacity: 1;
}


/* Cost Reservation Css */

.cost-renovation h3 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
}


.cost-renovation {
    position: relative;
    padding-left: 110px;
}

.cost-renovation:before {
    content: "\f1ec";
    font-family: fontAwesome;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #E2E6E7;
    padding: 25px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    line-height: 35px;
}



/* Service section css */

.service {
    background: #F5F5F5;
    padding:80px;
}

.section-title {
    text-transform: uppercase;
    font-size: 28px;
    display: inline-block;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
}
.sec-short-discription{
    padding-bottom: 40px;
}

.section-title:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 2px;
    content: "";
    background: #F4BC16;
}


/* Service css area */
.service-list {
    overflow:  hidden;
}
.single-service-item {
    width: 33.33%;
    text-align:  center;
    min-height: 400px;
    background: #fff;
}

.service-title {
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
}

.service-title:after {
    content: "";
    background: #F4BC16;
    width: 40px;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.service-btn {
    margin: 60px auto 0;
}
/* Recent Project */



.project-details {
    text-align:  center;
    position:  relative;
    max-height: 250px;
    z-index: 1;
}

.project-details:before {
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    position:  absolute;
    opacity: 0;
    z-index: 2;
    visibility:  hidden;
    transition: 0.2s;
}

.project-details:hover:before {
    visibility:  visible;
    opacity: .3;
}

.hover-content {
    position:  absolute;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:  3;
    color: #fff;
}

.hover-content p {
    padding-top: 40px;
    transition:  .2s;
    opacity:0;
    visibility:hidden
}

.round-btn.project-btn {
    background: transparent;
    border: 1px solid #fff;
    margin-top: 20px;
    transition:  .2s;
    opacity:0;
    visibility:hidden
}
.hover-content:hover p{
    visibility:visible;
    opacity:1;
    padding-top:50px;

}
.hover-content:hover .project-btn{
    visibility:visible;
    opacity:1;
    margin-top:0;
    border-color: #fff;
    text-decoration: none;
    color: #fff;
}
.round-btn.project-btn:hover{
    background:#F4BC16;
    border-color: transparent;
}

.our-project .container-fluid {
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden;
}

.our-project .container-fluid .row div {
    padding-left: 0;
    padding-right: 0;
}

.project-explore h3 {
    text-transform:  uppercase;
    font-size: 22px;
}
.project-explore{
    background:#F5F5F5;
}
.project-explore h3 span {
    margin-right: 50px;
}


/* About Area */
.about{
    padding-top: 0;
}

.about-sing-pic {
    padding: 0 30px;
}
.single-feature {
    position:  relative;
    padding-left: 100px;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.single-feature:before {
    position: absolute;
    content: "\f13c";
    font-family: Flaticon;
    left:  0;
    font-size:  50px;
    border: 1px solid #E2E6E7;
    height: 80px;
    width: 80px;
    text-align:  center;
    color: #F4BD19;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.single-feature:nth-child(2):before {
    content: "\f16c";
}
.single-feature:nth-child(3):before {
    content: "\f123";
}


.single-feature:last-child{
    margin-bottom: 0;
}

.our-feature {
    padding: 30px 0;
}

.single-feature h4 {
    font-size: 18px;
    padding-bottom: 5px;
    line-height: 28px;

}


.about-sing-pic img {
    border-radius: 50%;
    max-height: 480px;
}



/* our amenities */

.we_offer li a {
    height: 140px;
    width: 180px;
    background: #fff;
    position:  relative;
    color: #999;
    text-decoration: none;
    display: inline-block;
    padding-top: 15%;
}

.we_offer li a i {
    color: #F4BC16;
    font-size: 50px;
    text-align:  center;
}


section.our-amenities {
    background: #F5F5F5;
}

.our-amenities .nav-tabs {
    border-bottom: 0;
}
.tab-content {
    max-height: 130px;
}
.we_offer li a.active {
    background: #F4BC16;
    color: #fff;
}
.we_offer li a.active i {
    color: #fff;
}
.we_offer li{
    margin-right: 25px;
}
.we_offer li a:before {
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #F4BC16 transparent transparent transparent;
    content: '';
    transform: translateX(-50%);
    display: none;
}

.we_offer li a.active:before {
    display:  block;
}
.our-amenities .fade{
    opacity: 1;
}
.we_offer{
    margin-bottom: 30px;
}


/* choose area */

.choose-icon {
    position: relative;
}

.choose-icon {
    color: #F4BC16;
    font-size: 50px;
    height: 140px;
    width: 140px;
    border: 1px solid #E2E6E7;
    text-align: center;
    line-height: 140px;
    border-radius: 50%;
    position: relative;
    display:  inline-block;
    margin-bottom: 25px;
}

.choose-icon:before {
    position: absolute;
    height: 20px;
    background: #E2E6E7;
    top: 100%;
    width: 1px;
    content: '';
    left: 50%;
}

.choose-icon:after {
    content: '';
    height: 12px;
    width: 12px;
    background: transparent;
    border: 1px solid #E2E6E7;
    border-radius: 50%;
    top: 114%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Testimonial css */
.single-testimonial-item p {
    margin: 25px 0;
}

.testimonial-items {
    text-align:  center;
    color: #fff;
}

section.testimonial {
    background: url(../img/image_0111.jpg);
    background-attachment:  fixed;
    background-size: cover;
    background-position: top;
    background-color:  #ddd;
}

.single-testimonial-item {
    font-size: 21px;
    line-height: 35px;
    font-weight: 300;
}

.testimonial-author,.testimonial-author h4 {
    font-size:  13px;
    text-transform: uppercase;
    color: #fff;
}

.testimonial-author {
    position: relative;
    margin-top: 40px;
}

.testimonial-author:before {
    content: "";
    height: 2px;
    width: 30px;
    background: #F4BC16;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translatex(-50%);
}

.testimonial-items .owl-nav div {
    position:  absolute;
    top: 60%;
    transform: translateY(-50%);
    left:-10%;
    height: 60px;
    width: 60px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 35px;
    line-height: 60px;
    border-radius: 50%;
}

.testimonial-items .owl-nav div.owl-next {
    left: auto;
    right: -10%;
}

/* Brand Css */

.brand-partner{
    background-color: var(--bgclr);
}
.brand-names .owl-dots {
    position:  absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.brand-names .owl-dots div {
    height: 12px;
    width: 12px;
    background: #E2E6E7;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
}
.brand-names .owl-dots div.active{
    background:#F4BC16;
}

.single-brand {
    margin: 0 15px;
}

.brand-names {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* Call to action */

.action-call {
    background: #F4BC16;
    color: #fff;
}

.single-call-action {
    display:  flex;
    align-items: center;
}

.contact-icon i {
    font-size: 45px;
    color: #F4BC16;
    text-align: center;
    height: 90px;
    width: 90px;
    line-height: 90px;
}

.contact-icon {
    background: #fff;
    border-radius: 50%;
    margin-right: 30px;
}


/* Footer css */

.footer-top{
    background:var(--bgclr);
}

.footer-title {
    font-weight: 300;
    text-transform: capitalize;
    padding-bottom: 15px;
    position: relative;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-title:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #E2E6E7;
    left:  0;
}

.footer-title:before {
    content: "";
    height: 2px;
    left: 0;
    bottom:  0;
    background: #F4BC16;
    position: absolute;
    z-index:  2;
    width: 35px;
}

p {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    padding: 0;
    font-family: 'Raleway';
}

.social-icons li a {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content:  center;
    background: #F4BC16;
    margin-right: 1px;
    text-decoration: none;
    border: 2px solid #F4BC16;
    transition: .2s;
}

.social-icons li a {
    color: #fff;
    font-size: 14px;
}

.social-icons li a:hover {
    background: #fff;
    color: #000;
}

p {}

.footer-colum.service-item p {
    margin: 10px 0 0;
    position: relative;
    padding-left: 30px;
}

.footer-colum.service-item p:before {
    content: "\f00c";
    font-family: fontAwesome;
    color: #F4BC16;
    position: absolute;
    left: 0;
    top: 0;
}

.footer-colum span {
    border: 2px solid #E2E6E7;
    display: inline-block;
    padding: 10px 12px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 2px;
    font-weight: 600;
    color: #999;
    transition: .2s;
    cursor: pointer;
}

.footer-colum span:hover {
    background: #F4BC16;
    border-color: transparent;
    color: #fff;
}

.ftr-post {
}

.single-ftr-post {
    display:  flex;
    margin-bottom: 20px;
}

.single-ftr-post img {
    height: 90px;
    width: 90px;
    margin-right: 25px;
}

.footer-colum {
    color: #999;
}

.ftr-post-info h4 a {
    font-size: 14px;
    font-weight: 400;
    color: #444;
    line-height: 28px;
}
.ftr-post-info p{
    font-size: 12px;
    margin: 0;
}
.coyrig-text span {
    color: #999;
}


/*=================
        Team Css
    ===============
*/
.team-page .team {
    background: #fff;
}

.single-page-header .page-title {
    display: flex;
    align-items: center;
    height: 100px;
}

.single-page-header {
    background: #F5F5F5;
    color: #999;
}

.single-page-header .page-title h4 {
    text-transform: uppercase;
}

.single-page-header span {
    color: #444;
}


/*=================
        Skills  Css
    ===============
*/

.team-page .skills {
    background: #F5F5F5;
}

.team-page .skills .service-title:after {
    left: 0;
    transform: translateX(0);
}
/*=================
        Contact  Css
    ===============
*/

.contact-v1 .action-call {
    background: #fff;
    color: #444;
}

form.contact-form {
    display:  flex;
    padding: 40px 0;
}

.form-info {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    color: #999;
}

.form-message {
    display: flex;
    flex-basis: 48%;
    flex-direction: column;
    height: 220px;
}

.form-info input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #999;
}

.form-info input:focus {
    outline: transparent;
}

.form-message .round-btn {
    margin:  20px auto 0;
}

.contact-v2 .single-call-action {
    margin-bottom: 47px;
}